#filtros{
    margin-left:10px;
    margin-top:20px;
    margin-bottom:20px;
}
#buttonConsultar{
    margin-top:27px;
}
.select{
    width:100%;
}
.label{
    color:green;
}
.chart{
    border:solid 1px #d8d8d8;
    margin-bottom:50px;
}