#filtros{
    margin-left:10px;
    margin-top:20px;
    margin-bottom:20px;
}
#buttonConsultar{
    margin-top:20px;
}
.select{
    width:100%;
}
.label{
    color:green;
}
.chart{
    border:solid 1px gray;
    margin-bottom:10px;
    width:90%;
    margin-left: 20px;
}