<div class = 'row'>
  <div class = 'col-lg-3'>
      <label>Caderno:</label>
      <select [(ngModel)] = 'tipoCaderno' (change) = 'changeTipoCaderno()'>
        <option value="simulado">Simulado</option>
        <option value="prova">Prova</option>
      </select>
    </div>
  <div class = 'col-lg-4'>
      <label>Ano:</label>
      <select [(ngModel)] = 'year' (change) = 'changeYear()' >
          <option value="{{item}}" *ngFor = 'let item of itemYear'>{{item}}</option>
          
       </select>
  </div> 
  <div class = 'col-lg-2'>
    <button (click) = 'consultar()'>Consultar</button>
</div> 
</div>

<kendo-chart *ngIf = 'showChart'>
  <kendo-chart-title text="Total perguntas de {{tipoCaderno}} do ano de {{year}}"></kendo-chart-title>
  <kendo-chart-legend position='bottom' orientation='horizontal'></kendo-chart-legend>
  <kendo-chart-tooltip></kendo-chart-tooltip>
  <kendo-chart-series>
    <kendo-chart-series-item *ngFor= "let x of series"   [data] = 'x.valor' [name]='x.nome'>
      </kendo-chart-series-item>
      
  </kendo-chart-series>
</kendo-chart>

<!--

<kendo-chart [categoryAxis]="{categories:categoryLine2}">
  <kendo-chart-title text="Student Exam Results"></kendo-chart-title>
  <kendo-chart-legend position='bottom' orientation='horizontal'></kendo-chart-legend>
  <kendo-chart-tooltip></kendo-chart-tooltip>
  <kendo-chart-series>
    <kendo-chart-series-item *ngFor= "let x of seriesLine" type="line" [data] = 'x.valor' [name]='x.nome'>
      </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart>

-->